<div class="top_nav" style="height:71px;">
    <div class="nav_menu">
      <nav class="" role="navigation">
        <div  class="nav toggle">
          <a id="menu_toggle" (click)="updateState()" ><img src="assets/images/menu-left.png"></a>
        </div>      
        <div class="loreal-logo-title">
          
          <ul class="list-inline">
            <img src="assets/images/globe.jpg" alt="logo" width="55" height="auto">
            <li style="margin-top:35px;">
              <h1 style="margin:-95px 0px 27px 70px; letter-spacing: 5px;font-weight: bold;color:#0C71C3;font-size: revert;">SAMM.<span style="color: #DD1300;">BP</span></h1>
            </li>
            <li>
              <small style="font-size:13px;float: left;letter-spacing: 1px;color:#000;text-transform:none;margin-top: -16px; margin-left: 70px;">
                <b style="color:#0C71C3">S</b>amples <b style="color:#0C71C3">A</b>nd 
                <b style="color:#0C71C3">M</b>arket <b  style="color:#0C71C3">M</b>onitoring .  
                <b style="color:#DD1300">B</b>rand <b style="color:#DD1300">P</b>rotection
              </small>
            </li>
          </ul>
        </div>
        <!-- <div class="loreal-logo"><img src="../../assets/images/loreal-logo.png" alt="logo"></div>
          <div class="loreal-logo-title">Samples And Market Monitoring</div> -->
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            
               <span class="user-icon"> {{uname}} <img src="assets/images/user.png"></span>
              
            
          </li>
        </ul>
      </nav>
    </div>
  </div>
