<div class="sidenav">
  <h1 style="letter-spacing: 5px;padding: 20px;margin-top:-21px;background-color:#0C71C3;color: white;height: 97px;">SAMM</h1>
  
  <a href="#about">VIEW BUY</a>
  <button class="dropdown-btn">UTILITIES 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="/comment" routerLinkActive="active">Comment</a>
    <a routerLink="/country" routerLinkActive="active">Country</a>
    <a href="#">Item</a>
    <a href="#">Jobber</a>
    <a href="#">Non-Scanning Distributors</a>
    <a href="#">Non-Traceable Code</a>
    <a href="#">Parent/Children</a>
    <a href="#">Purchaser</a>
    <a href="#">Salon/Store</a>
    <a href="#">Signature</a>
    <a href="#">Users/Contacts</a>
    <a href="#">URL Maintenance</a>
    

  </div>
  
</div>


